@import url('./background.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./content.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text: #edf1f7;
    --blue: rgb(16, 28, 102);
    --yellow: #FFEE51;
}

body, button, a {
    color: var(--text);
    font: 400 1rem "Geologica", sans-serif;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

#aba-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}