header {
    display: flex;
    align-items: center;
    column-gap: 420px;

    width: 100%;
    background: rgb(16, 28, 102);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

header img {
    width: 150px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;

    list-style: none;
}

.navigation__link {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navigation__link:hover {
    color: var(--yellow)
}

.navigation__account:hover {
    color: var(--yellow);
}